<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 底部 开始 -->
<div class="k20"></div>
<div class="footlinks bai f14"><a href="#">设为首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">加入收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">版权申明</a></div>
<div class="copy">版权所有 Copyright 2015-2016 中国职业书画家网 ALL rights reserved<br>
    联系方式：E-mail:123456789@qq.COM  QQ:123456789 公司电话：010-12345678 139000000001 网站备案：京ICP备091542372号</div>
<!-- 底部 结束 -->
</body>
</html>